<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}

    <div class="container-fluid ">
        <div class="row">
            <div class="col-mid-10 col-12  mx-auto">
                <div class="row">
                <!-- right side div    -->
                <div class="col-md-6 col-12 mx-auto main_header_right_2">
                    <figure>
                        <img src="images/Code typing-amico.png" alt="farooq" class="img-fluid">
                    </figure>
                </div>
                
                <!-- left side div    -->
                <div class="col-md-6 col-12 main_header_left_2">
                    <p>Welcome to Weather App</p>
                    <h1>I am a <span class="txt-color">Mern Stack Developer</span> and a freelancer</h1>
                    <a href="/weather"><button>Check Weather</button></a>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>
</html>